.botao {
    @apply bg-blue-600 text-white font-bold py-2 px-4 rounded;
    @apply hover:bg-white hover:text-blue-600 shadow transition
}
.transition {
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
}